body {
	font-size: 0.7em;
	font-family: Arial, Helvetica, Verdana; 
    font-weight: normal;
    font-style: normal;
    color: black;
    background-color: white;
    line-height: 1.2em;
}
/* Estilos de la Caja del Formulario Generica */
form {
	margin: 5px auto;
	position: relative;
	background-color: #F2F0F0;
 	border-radius: 10px 10px 10px 10px;
	border-style: solid; 
	border-width: 1px; 
	border-color: #F2A115;
	padding: 10px;
}
table {
	margin: 5px auto;
	border-collapse: collapse;
}
th {
	padding: 5px 5px 0px 5px;
	
}
td {
	padding: 0px 5px 5px 5px;
}

legend {
	font-weight: bold;
}
fieldset {
	margin-bottom: 10px;
}
label {
	margin: 10px;
}
input {
	margin-top: 5px; 
}
input[type="button"] {

	background-color: #FAFAFA;
	border-bottom-style:outset;
}
input[type="button"]:hover {

	background-color: #ddd ;
	cursor: pointer ;
}

.Incrementa {
	background-image:  url(../Imagen/IncrementaP.png);
	background-repeat: no-repeat;   
	background-position: center center;  
}
.Decrementa {
	background-image:  url(../Imagen/DecrementaP.png);
	background-repeat: no-repeat;   
	background-position: center center;  
}
.Incrementa, .Decrementa {
	margin-top: 0px;
	padding-top: 2px;
	height: 15px;
}

.BuscaCarpeta {
	background-image:  url(../Imagen/DirectorioP.png);
	background-repeat: no-repeat;   
	background-position: center center;  
	width: 36px;
	height: 30px;
}

.Calendario {
	background-image:  url(../Imagen/Calendario18P.png);
	background-repeat: no-repeat;   
	background-position: center center;  
	width: 36px;
	height: 30px;
}