/* Estilos de la Caja del Formulario donde se piden las credenciales */
form {
	top: 150px; 
	width: 300px;
	margin: 10px auto;
	position: relative;
	background-color: #F2F0F0;
 	border-radius: 10px 10px 10px 10px;
	border-style: solid; 
	border-width: 1px; 
	border-color: #F2A115;
}
form span {
	float: left;
}
/* Estilo de las Entradas */
input {
	margin-top: 5px; 
}
input[type="button"] {
	color: Black; 
	background-color: #FAFAFA;
	border-bottom-style:outset;
}
input[type="button"]:hover {
	color: black; 
	background-color: #ddd;
	cursor: pointer ;
}
 
/* Estilo de los mensajes de Error en la carga de las credenciales */
 #Merror {
	padding-top: 10px; 
	padding-left: 10px; 
	color: red;
	font-size: 110%;
    font-weight: bold;
    font-style: normal;
	visibility: hidden;
	margin: 10px;
}
 