/* Estilos de los mensajes a enviar

/* Estilos de la tapa para Generar mensajes */
#TapaMensajes  {
  	position: absolute;  
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	visibility: hidden;
	z-index: 950;
	opacity: 0.8;
	filter:  alpha(opacity=50);
	background-color: #eee;
}