/* Estilos de los reportes genéricos */

#Lista {
	margin: 0px auto;
	position: relative;
	padding: 0px;
	overflow: hidden;
}

#Tabla, #th {
	background-color: #F2F0F0;
 	border-radius: 4px;
	border-style: solid; 
	border-width: 1px; 
	border-color: #F2A115;
	margin: 0px;
	padding: 0px;
}
#tt {
	background-color: #D3D3D3;
 	border-radius: 4px;
	border-style: solid; 
	border-width: 1px; 
	border-color: #F2A115;
	text-align: left;
}

.overtabla {
	overflow: auto; 
	border-style: solid; 
	border-width: 1px; 
	border-color: #F2A115;
}
.ccheck {
	background-color: #D3D3D3;
	text-align: center;
	width: 20px;
}

.optg {
	background-color: #FFFFFF;
	border-top: 1px orange solid;
	padding-left: 5px;
}
.optgoptg1 {
	background-color: #F2F0F0;
	padding-left: 5px;
}
.optgoptg2 {
	background-color: #FFFFFF;
	padding-left: 5px;
}
.optgoptg1, .optgoptg2 {
	border-top: 1px orange solid;
	border-left: 1px orange solid;
	margin-left: 175px;
}


#tr:nth-child(even) {
	border-radius: 4px;
	border: 1px orange solid; 
	background-color: #FFFFFF;	
}
#tr:nth-child(odd) {
	border-radius: 4px;
	border: 1px orange solid; 
	background-color: #F2F0F0;	
}


select option:hover {
	cursor: pointer;
	background-color: #87CEEB;
}

#Link {
	color: blue; 
	cursor: pointer;	
}
