/* #contenedora--> Estilos de la caja contenedora de las opciones de los menus y ventanas de ejecucion */

/* Estilos de la caja que remarca area de ventanas de ejecución */
#remarca {
	top: 120px;
	left: 50px;
	right: 50px;
	bottom: 10px;
	position: absolute;
	border-width:1px 0 0 1px;
	border-style:solid;
	border-color: #F2A115;	
}

/* Estilos de la Tapa para las Ventanas de funcionalidades y configuraciones */
#TapaVent  {
  	position: absolute;  
	top: 95px;
	left: 50px;
	right: 50px;
	bottom: 10px;
	visibility: hidden;
	z-index: 800;
	opacity: 0.9;
	filter:  alpha(opacity=50);
	background-color: #fcfcfc;
}

/* Estilos de la caja contenedora de todos los menu y ventana de ejecucion de los gestores */
#cajaFunConf {
	top: 95px;
	left: 50px;
	right: 50px;
	bottom: 10px;
	position: absolute;
}

/* Estilos de la caja contenedora del menu y el iframe donde se ejecutan las funcionalidades y  Configuraciones */
.cajaMenuIfra  {
  	position: absolute;  
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	visibility: hidden;
}
 
/* Estilos de la caja contenedora del iframe donde se ejecutan los Gestores */
.CEjecutar  {
  	position: absolute;  
	top: 25px;
	left: 0px;
	right: 0px;
	bottom: 0px;
} 
 
/* Estilos del Iframe, Ventanas donde se ejecutan las Funcionalidades y actividades de Configuración */
.Ciframe {
 	position: absolute;  
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	border: 2px solid #F2A115;
}


 
/* Estilos para controlar las cajas de Control de las Ventanas de ejecución de las funcionalidades de Configuración */
#CcierraVent {
	position: absolute;  
	top: 120px;
	right: 21px;
	width: 24px;
	height: 24px;
	background-color: #eee;
	border: 2px solid #F2A115;	
	visibility: hidden;
}
#Ccierra {
	position: absolute;
	background-image: url(../Imagen/Close.png); 
	background-repeat: no-repeat;   
	background-position: center top; 
	border: 1px solid #F2A115;	
	height: 24px; 
	width: 24px;
}
#Ccierra:hover {
	background-color: #ddd; 
	cursor: pointer;
}
